<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Villain.Properties.Settings.VillainAppsConnectionString"
            connectionString="Data Source=LAPTOP-UVP4GKT4\FARHAT_ASHARFILL;Initial Catalog=VillainApps;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>